<p class="text-info">
    Welcome to the Angular Store.
</p>

<p>
    Search:
    <input ng-model="search">
</p>

<table class="table table-bordered">
    <tr class="well">
        <td class="tdRight" colspan="{{4 + (admin ? 1 : 0)}}">
            <a href="" ng-click="changeCurrentView('cart')" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
    <tr ng-repeat="product in store.products | orderBy:'name' | filter:search">
        <td ng-if="admin" class="text-center vert-align">
            <button type="submit" class="btn btn-primary" ng-click="deleteItem(product.id)">
                Delete
            </button>
        </td>
        <td class="tdCenter"><img class="thumbnail" ng-src="{{product.image}}" alt="{{product.name}}" />
        </td>
        <td>
            <a href="" ng-click="changeCurrentView('product', product.id)"><b>{{product.name}}</b></a>
            <br /> {{product.description}}
        </td>
        <td class="tdRight">
            {{product.price | currency}}
        </td>
        <td class="tdCenter">
            <a href="" ng-click="cart.addItem(product.id, product.name, product.price, 1)">
                add to cart
            </a>
        </td>
    </tr>
    <tr class="well">
        <td class="tdRight" colspan="{{4 + (admin ? 1 : 0)}}">
            <a href="" ng-click="changeCurrentView('cart')" title="go to shopping cart" ng-disabled="cart.getTotalCount() < 1">
                <i class="icon-shopping-cart" />
                <b>{{cart.getTotalCount()}}</b> items, <b>{{cart.getTotalPrice() | currency}}</b>
            </a>
        </td>
    </tr>
</table>
