html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    
    margin-bottom: 60px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    
    height: 60px;
    background-color: #f5f5f5;
}
.container {
    width: auto;
    padding: 0 15px;
}
.container .text-muted {
    margin: 20px 0;
}

shopping-cart .thumbnail {
    max-width: 150px;
}

.admin {
    margin-top: 50px;
}

.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

.file-input {
    width: 200px;
    float: left;
    display: inline;
    margin-right: 10px;
}

.animate-show {
    overflow: scroll;
}

.animate-show.ng-enter, .animate-show.ng-leave {
  transition: all linear 0.3s;
}

.animate-show.ng-enter,
.animate-show.ng-leave.ng-leave-active {
  max-height:0px;
}

.animate-show.ng-leave,
.animate-show.ng-enter.ng-enter-active {
  max-height: 1000px;
}