<div class="alert alert-danger" ng-hide="isAdmin">
    <h2>You must <a  href="/login">login.</a></h2>
</div>
<div ng-show="isAdmin">
    <div class="alert alert-danger" ng-show="error">
        <h5>{{error}}</h5>
    </div>

    <div class="row">
        <table class="table table-condensed">
            <tr>
                <td>Total Spend:</td>
                <td>
                    <h4><span class="label label-default">{{totalAmount | currency}}</h4>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Total Monthly Budget:</td>
                <td>
                    <h4><span class="label label-info">{{totalBudget | currency}}</h4>
                    </span>
                </td>
            </tr>
            <tr>
                <td>Difference:</td>
                <td>
                    <h4><span class="label label-default" ng-class="{'label-danger': totalBudget <= 0, 'label-success': totalBudget > 0}">{{totalBudget + totalAmount | currency}}</h4>
                    </span>
                </td>
            </tr>
        </table>
    </div>

    <hr/>
    <div class="well input-group">
        <label for="startDate">Start Date</label>
        <input style="margin: 10px" type="date" name="startDate" ng-model="startDate" />

        <label for="endDate">End Date</label>
        <input style="margin: 10px" type="date" name="endDate" ng-model="endDate" />

        <label for="amortizeBudget">Amortize Budget</label>
        <input style="margin: 10px" type="checkbox" name="amortizeBudget" ng-model="amortizeBudget" />

        <button class="btn btn-primary" ng-click="update()">Update</button>
    </div>


    <table class="table table-bordered">
        <tr class="well">
            <td class="tdRight" colspan="5">
            </td>
        </tr>
        <tr ng-repeat="transaction in transactions | filter: {category: '!'} | orderBy: 'date'">
            <td>
                <a href="" ng-click=""><b>{{transaction.date | date}}</b></a>
            </td>
            <td class="tdRight">
                {{transaction.description}}
            </td>
            <td class="tdRight">
                {{transaction.amount | currency}}
            </td>
            <td class="tdRight">
                {{transaction.account}}
            </td>
            <td class="tdRight">
                <div class="input-group">
                    <label for="addToCategory">Add To Category</label>
                    <select ng-model="transaction.newCategory" class="form-control">
                        <option ng-repeat="cat in categories" value="{{cat.name}}">{{cat.name}}</option>
                    </select>
                    <button class="btn btn-primary" ng-click="updateTransaction(transaction)">Submit</button>
                </div>
            </td>
        </tr>
    </table>



    <table class="table">
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>Budget</th>
            <th>Over/Under</th>
            <th>Details</th>
        </tr>
        <tr ng-repeat="category in categories | orderBy: 'amount'">
            <td><a href="" ng-click="category.show = !category.show">{{category.name}}</a>
            </td>
            <td>
                <h4><span class="label label-default">{{category.amount | currency}}</span></h4>
            </td>
            <td>
                <h4><span class="label label-info">{{category.budget | currency}}</span></h4>
            </td>
            <td>
                <h4><span class="label label-default" ng-class="{'label-danger': category.diff < 0, 'label-success': category.diff >= 0}">{{category.diff | currency}}</span></h4>
            </td>
            <td>
                <table ng-if="category.show" class="table table-borderless">
                    <th>Date</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Account</th>
                    <th>Update Category</th>
                    <tr ng-repeat="transaction in transactions | filter: {category: category.name} | orderBy: 'amount' : reverse">
                        <td>
                            {{transaction.date | date}}
                        </td>
                        <td class="tdRight">
                            {{transaction.description}}
                        </td>
                        <td class="tdRight">
                            <h4><span class="label label-default">{{transaction.amount | currency}}</span></h4>
                        </td>
                        <td class="tdRight">
                            {{transaction.account}}
                        </td>
                        <td class="tdRight">
                            <div class="form-inline">
                                <div class="form-group">
                                    <select style="width: 100px" ng-model="transaction.newCategory" class="form-control">
                                        <option ng-repeat="cat in categories" value="{{cat.name}}">{{cat.name}}</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-secondary" ng-click="updateTransaction(transaction)">Update</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <div class="col-md-6 well" style="float: right; font-size: 12px;">
        Last Updated:
        <ul>
            <li>
                Ally: {{updated.ally | date}}
            </li>
            <li>
                Amex: {{updated.amex | date}}
            </li>
            <li>
                Capital One: {{updated.cp1 | date}}
            </li>
        </ul>
    </div>
</div>
